.cart-container{

    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;

}


.cart-container h1{

    margin-bottom: 30px;

}


.cart-list{

    display: flex;
    flex-direction: column;
    gap: 20px;

}


.cart-item{

    display: flex;
    align-items: center;
    gap: 30px;

    background: white;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}


.cart-item img{

    width: 120px;
    height: 120px;

    object-fit: contain;

}


.cart-info h2{

    font-size: 18px;

    margin-bottom: 10px;

}


.cart-info p{

    margin: 5px 0;

}


.cart-total{

    margin-top: 30px;

    padding: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}


.cart-total button{

    background: #2563eb;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

}


.cart-total button:hover{

    opacity:0.8;

}


.empty{

    font-size:20px;

}


.quantity-controls{

    display:flex;
    align-items:center;
    gap:15px;
    margin:15px 0;

}


.quantity-controls button{

    width:35px;
    height:35px;

    border:none;
    border-radius:5px;

    cursor:pointer;

    font-size:20px;

}


.quantity-controls span{

    font-size:18px;

}


.remove-button{

    background:#dc2626;
    color:white;

    border:none;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;

}